/* stylelint-disable max-line-length */
.stripe {
  background-image: linear-gradient(45deg, #fff 25%, #ff5c00 25%, #ff5c00 50%, #fff 50%, #fff 75%, #ff5c00 75%, #ff5c00 100%);
  background-size: 32px 32px;
}

.stripe-black {
  background-image: linear-gradient(45deg, #fff 25%, #000 25%, #000 50%, #fff 50%, #fff 75%, #000 75%, #000 100%);
  background-size: 32px 32px;
}
